openapi: 3.1.0
info:
  title: Lokalise API v2 Files Keys API
  description: 'Lokalise REST API (APIv2) for the Lokalise translation management system.

    Resources include projects, keys, translations, files, contributors,

    languages, tasks, snapshots, branches, glossaries, webhooks, and orders.

    Authentication is via API token in the `X-Api-Token` header (OAuth 2 also supported).

    '
  version: '2.0'
  contact:
    name: Lokalise Developers
    url: https://developers.lokalise.com/
  license:
    name: Proprietary
    url: https://lokalise.com/legal/
servers:
- url: https://api.lokalise.com/api2
  description: Lokalise API v2
security:
- ApiKeyAuth: []
tags:
- name: Keys
paths:
  /projects/{project_id}/keys:
    parameters:
    - name: project_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Keys
      summary: List all keys
      operationId: listKeys
      parameters:
      - name: disable_references
        in: query
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: include_comments
        in: query
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: include_screenshots
        in: query
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: include_translations
        in: query
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: filter_tags
        in: query
        schema:
          type: string
      - name: filter_filenames
        in: query
        schema:
          type: string
      - name: filter_keys
        in: query
        schema:
          type: string
      - name: filter_key_ids
        in: query
        schema:
          type: string
      - name: filter_platforms
        in: query
        schema:
          type: string
      - name: filter_untranslated
        in: query
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: filter_archived
        in: query
        schema:
          type: string
          enum:
          - exclude
          - include
          - only
      - name: pagination
        in: query
        schema:
          type: string
          enum:
          - offset
          - cursor
      - name: limit
        in: query
        schema:
          type: integer
      - name: page
        in: query
        schema:
          type: integer
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of keys
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Keys
      summary: Create keys
      operationId: createKeys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Created keys
          content:
            application/json:
              schema:
                type: object
  /projects/{project_id}/keys/{key_id}:
    parameters:
    - name: project_id
      in: path
      required: true
      schema:
        type: string
    - name: key_id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Keys
      summary: Retrieve a key
      operationId: getKey
      responses:
        '200':
          description: A key
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
      - Keys
      summary: Update a key
      operationId: updateKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated key
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - Keys
      summary: Delete a key
      operationId: deleteKey
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Token
